<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href={{ url_for('static',
    filename='style.css') }}/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=sentiment_dissatisfied"
    />
  </head>

  <body class="content-body poppins-regular">
    <div class="error-container">
      <h1>
        Error
        <span class="material-symbols-outlined"> sentiment_dissatisfied </span>
      </h1>
      <p>Please enter the correct password to download CELEX data.</p>
    </div>
  </body>
</html>
